.DS_Store
/example
frontend/.env
index.html
style.css
backend/__pycache__
backend/.env
backend/.venv
backend/alembic.ini
backend/app/migrations/
backend/app/auth/__pycache__
backend/app/database/__pycache__
backend/app/routers/__pycache__
backend/app/schemas/__pycache__
backend/app/schemas/__pycache__
backend/app/models/__pycache__